*
{
    margin: 0px;
    padding: 0px;
}



header, section, footer, aside, nav, article, hgroup{
    display: block;
}
body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    background: black;
}

#big_wrapper{
    max-width: 1000px;
    margin: 20px 0px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

#topStuff{

    opacity:0.7;
    border-bottom: 2px solid yellow;

}


#top_header{
    font: bold 25px Tahoma; 
    color: yellow;
    padding-left: 20px;
}


#top_header:hover{
    font: bold 26px Tahoma; 
    text-shadow: 1px 1px 1px blue;
}




ul{
    float:right;
}

li a{
    text-decoration: none;
    color: yellow;
    font:  16px Tahoma; 
    padding:10px;

}

li a:hover{
    font:  17px Tahoma; 
}
#top_menu li{
    
    display: inline-block;
    list-style: none;
    font: bold 25px Tahoma;
    color:  #4C9900;
}
#the_footer{
    text-align: center;
    font-size: 12px;
    padding: 20px;
    border-top: 2px solid yellow;
    color: yellow;
    opacity: 0.5;
    margin-top: 10px;
}


#the_footer:hover{
    font-size: 13px;
    opacity:0.8;
}


#canvas{
    margin-top: 10px;
 //   margin-left: 20px;
    height:400px;
    width: 400px;
    
}

.kandi {
    width:  40px;
    height: 40px;
    opacity: 0.9;
}
.kandi:hover {
    width:  42px;
    height: 42x;
    opacity: 1;
}

.dice {
    width:  60px;
    height: 60px;
    margin-left: 20px;
}

.dice:hover{

    opacity: 0.9;
}




#dicePlace{
    background: black;
    display: flex;
    // justify-content: center;
}

