

#canvas{
    margin-top: 10px;
    height:400px;
    width: 400px;
   
}

.kandi {
    width:  40px;
    height: 40px;
    opacity: 0.9;
}
.kandi:hover {
    width:  42px;
    height: 42x;
    opacity: 1;
}

.dice {
    width:  80px;
    height: 80px;
    margin-left: 20px;
}

.dice:hover{

    opacity: 0.9;
}




#dicePlace{
    display: flex;
}

.newButton{background-color: Transparent;
	   border: none;
	   cursor:pointer;
	   width: 100px;
	   height: 50px;
	   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	   font-size: 18px;
	   color: green;
	   
	  }
.newButton:hover{
    opacity: 0.9;

}